.Rproj.user
.Rhistory
.RData
*.Rproj
*.html
*.SyncID
*.SyncIgnore
.SyncArchive/
todo.md
scratch_doc.R
dev.code.R
data-bckup/abbrev.RData
data-bckup/AwardsCoaches.RData
data-bckup/AwardsMisc.RData
data-bckup/AwardsPlayers.RData
data-bckup/captains_overall.RData
data-bckup/Coaches.RData
data-bckup/coaches_overall.RData
data-bckup/CombinedShutouts.RData
data-bckup/draft_overall.RData
data-bckup/Goalies.RData
data-bckup/GoaliesSC.RData
data-bckup/GoaliesShootout.RData
data-bckup/goalies_overall.RData
data-bckup/goalies_season_playoff_overall.RData
data-bckup/goalies_season_reg_overall.RData
data-bckup/head2head_overall.RData
data-bckup/HOF.RData
data-bckup/Master.RData
data-bckup/playoff_overall.RData
data-bckup/reg_season_overall.RData
data-bckup/Scoring.RData
data-bckup/ScoringSC.RData
data-bckup/ScoringShootout.RData
data-bckup/ScoringSup.RData
data-bckup/SeriesPost.RData
data-bckup/skaters_overall.RData
data-bckup/skaters_season_playoff_overall.RData
data-bckup/skaters_season_reg_overall.RData
data-bckup/Teams.RData
data-bckup/TeamsHalf.RData
data-bckup/TeamSplits.RData
data-bckup/TeamsPost.RData
data-bckup/TeamsSC.RData
data-bckup/TeamVsTeam.RData
data-bckup/team_summary_data.RData
data-bckup/urls.boxscore.RData
data-bckup/urls_team_overall.RData
